In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('sampled_dataset.csv')

In [9]:
df.head(12)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-7182628,Source1,1,2020-04-17 09:29:30,2020-04-17 10:29:30,26.706900,-80.119360,26.706900,-80.119360,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
1,A-5404588,Source1,2,2022-04-21 10:01:00.000000000,2022-04-21 11:44:08.000000000,38.781024,-121.265820,38.780377,-121.265815,0.045,...,False,False,True,False,False,False,Day,Day,Day,Day
2,A-156000,Source3,3,2016-08-12 16:45:00,2016-08-12 17:15:00,33.985249,-84.269348,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-1871277,Source2,3,2019-09-20 15:22:16,2019-09-20 15:56:00,47.118706,-122.556908,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-2031222,Source2,2,2019-06-03 16:55:43,2019-06-03 18:12:09,33.451355,-111.890343,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
5,A-1167415,Source2,2,2021-02-04 12:48:21,2021-02-04 16:51:15,42.448910,-93.721138,NaN,NaN,7.770,...,False,False,False,False,False,False,Day,Day,Day,Day
6,A-4021880,Source1,2,2022-06-23 10:57:30,2022-06-23 15:43:00,38.858169,-77.219815,38.884636,-77.220805,1.829,...,False,False,False,False,False,False,Day,Day,Day,Day
7,A-1314019,Source2,3,2020-09-25 16:48:29,2020-09-25 17:38:44,32.434292,-82.500710,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
8,A-721069,Source2,2,2022-02-04 19:57:43,2022-02-04 20:42:10,39.106960,-76.939789,NaN,NaN,0.000,...,False,False,False,False,False,False,Night,Night,Night,Night
9,A-3677476,Source1,2,2023-03-26 14:38:00.000000000,2023-03-26 17:29:42.000000000,37.636405,-122.087711,37.644790,-122.093729,0.666,...,False,False,False,False,False,False,Day,Day,Day,Day
10,A-7221635,Source1,2,2020-01-14 00:41:00,2020-01-14 03:54:09,45.511600,-92.992980,45.511600,-92.992980,0.000,...,False,False,False,False,False,False,Night,Night,Night,Night
11,A-2964547,Source2,2,2018-03-23 07:43:01,2018-03-23 08:12:36,40.360512,-79.907692,NaN,NaN,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 46 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     100000 non-null  object
 1   Source                 100000 non-null  object
 2   Severity               100000 non-null  int64
 3   Start_Time             100000 non-null  object
 4   End_Time               100000 non-null  object
 5   Start_Lat              100000 non-null  float64
 6   Start_Lng              100000 non-null  float64
 7   End_Lat                56012 non-null   float64
 8   End_Lng                56012 non-null   float64
 9   Distance(mi)           100000 non-null  float64
 10  Description            99999 non-null   object
 11  Street                 99830 non-null   object
 12  City                   99997 non-null   object
 13  County                 100000 non-null  object
 14  State                  100000 non-null  object
 15  Zipcode                99979 non-null   object
 16  Country                100000 non-null  object
 17  Timezone               99900 non-null   object
 18  Airport_Code           99698 non-null   object
 19  Weather_Timestamp      98424 non-null   object
 20  Temperature(F)         97880 non-null   float64
 21  Wind_Chill(F)          74067 non-null   float64
 22  Humidity(%)            97741 non-null   float64
 23  Pressure(in)           98183 non-null   float64
 24  Visibility(mi)         97738 non-null   float64
 25  Wind_Direction         97689 non-null   object
 26  Wind_Speed(mph)        92557 non-null   float64
 27  Precipitation(in)      71378 non-null   float64
 28  Weather_Condition      97784 non-null   object
 29  Amenity                100000 non-null  bool
 30  Bump                   100000 non-null  bool
 31  Crossing               100000 non-null  bool
 32  Give_Way               100000 non-null  bool
 33  Junction               100000 non-null  bool
 34  No_Exit                100000 non-null  bool
 35  Railway                100000 non-null  bool
 36  Roundabout             100000 non-null  bool
 37  Station                100000 non-null  bool
 38  Stop                   100000 non-null  bool
 39  Traffic_Calming        100000 non-null  bool
 40  Traffic_Signal         100000 non-null  bool
 41  Turning_Loop           100000 non-null  bool
 42  Sunrise_Sunset         99674 non-null   object
 43  Civil_Twilight         99674 non-null   object
 44  Nautical_Twilight      99674 non-null   object
 45  Astronomical_Twilight  99674 non-null   object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 26.4+ MB

In [11]:
print(df.shape)

(100000, 46)

In [12]:
print(df.isnull().sum())

ID                           0
Source                       0
Severity                     0
Start_Time                   0
End_Time                     0
Start_Lat                    0
Start_Lng                    0
End_Lat                  43988
End_Lng                  43988
Distance(mi)                 0
Description                  1
Street                     170
City                         3
County                       0
State                        0
Zipcode                     21
Country                      0
Timezone                   100
Airport_Code               302
Weather_Timestamp         1576
Temperature(F)            2120
Wind_Chill(F)            25933
Humidity(%)               2259
Pressure(in)              1817
Visibility(mi)            2262
Wind_Direction            2311
Wind_Speed(mph)           7443
Precipitation(in)        28622
Weather_Condition         2216
Amenity                      0
Bump                         0
Crossing                     0
Give_Way                     0
Junction                     0
No_Exit                      0
Railway                      0
Roundabout                   0
Station                      0
Stop                         0
Traffic_Calming              0
Traffic_Signal               0
Turning_Loop                 0
Sunrise_Sunset             326
Civil_Twilight             326
Nautical_Twilight          326
Astronomical_Twilight      326
dtype: int64

In [13]:
print("Total missing values:", df.isnull().sum().sum())

Total missing values: 166436

In [14]:
for val in ["?", "-", " ", "NA", ""]:
    print(val, (df == val).sum().sum())

? 0
- 0
  0
NA 0
 0

In [15]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage)

ID                        0.000
Source                    0.000
Severity                  0.000
Start_Time                0.000
End_Time                  0.000
Start_Lat                 0.000
Start_Lng                 0.000
End_Lat                  43.988
End_Lng                  43.988
Distance(mi)              0.000
Description               0.001
Street                    0.170
City                      0.003
County                    0.000
State                     0.000
Zipcode                   0.021
Country                   0.000
Timezone                  0.100
Airport_Code              0.302
Weather_Timestamp         1.576
Temperature(F)            2.120
Wind_Chill(F)            25.933
Humidity(%)               2.259
Pressure(in)              1.817
Visibility(mi)            2.262
Wind_Direction            2.311
Wind_Speed(mph)           7.443
Precipitation(in)        28.622
Weather_Condition         2.216
Amenity                   0.000
Bump                      0.000
Crossing                  0.000
Give_Way                  0.000
Junction                  0.000
No_Exit                   0.000
Railway                   0.000
Roundabout                0.000
Station                   0.000
Stop                      0.000
Traffic_Calming           0.000
Traffic_Signal            0.000
Turning_Loop              0.000
Sunrise_Sunset            0.326
Civil_Twilight            0.326
Nautical_Twilight         0.326
Astronomical_Twilight     0.326
dtype: float64

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('sampled_dataset.csv')

In [4]:
df.dtypes

ID                        object
Source                    object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Street                    object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [5]:
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')
df['End_Time'] = pd.to_datetime(df['End_Time'], errors='coerce')

In [6]:
df[['Start_Time', 'End_Time']].dtypes

Start_Time    datetime64[ns]
End_Time      datetime64[ns]
dtype: object

In [28]:
date_details = pd.DataFrame({
    'ID': df['ID'],
    'Start_Day': df['Start_Time'].dt.day_name(),
    'Start_Month': df['Start_Time'].dt.month_name(),
    'Start_Year': df['Start_Time'].dt.year.astype('Int64'),
    'Start_Hour': df['Start_Time'].dt.hour.astype('Int64'),
    'End_Day': df['End_Time'].dt.day_name(),
    'End_Month': df['End_Time'].dt.month_name(),
    'End_Year': df['End_Time'].dt.year.astype('Int64'),
    'End_Hour': df['End_Time'].dt.hour.astype('Int64'),
})

In [29]:
date_details.to_csv("C:/Users/Lenavo/Desktop/PVDSH_Gr15_2025/dates_exploded.csv", index=False)

In [30]:
df_merged = pd.merge(df, date_details, on='ID', how='inner')

In [31]:
start_idx = df.columns.get_loc("Start_Time") + 1
end_idx = df.columns.get_loc("End_Time") + 1

In [32]:
new_column_order = (
    list(df.columns[:start_idx]) +
    ['Start_Day', 'Start_Month', 'Start_Year', 'Start_Hour'] +
    list(df.columns[start_idx:end_idx]) +
    ['End_Day', 'End_Month', 'End_Year', 'End_Hour'] +
    list(df.columns[end_idx:])
)

In [33]:
df_merged = df_merged[new_column_order]

In [ ]:
# Integrimi i dataseteve ne nje te vetem duke zberthyer daten ne dite, muaj, vit dhe ore
df_merged.to_csv("C:/Users/Lenavo/Desktop/PVDSH_Gr15_2025/Week2_Dataset.csv", index=False)

In [35]:
df_merged.dtypes

ID                               object
Source                           object
Severity                          int64
Start_Time               datetime64[ns]
Start_Day                        object
Start_Month                      object
Start_Year                        Int64
Start_Hour                        Int64
End_Time                 datetime64[ns]
End_Day                          object
End_Month                        object
End_Year                          Int64
End_Hour                          Int64
Start_Lat                       float64
Start_Lng                       float64
End_Lat                         float64
End_Lng                         float64
Distance(mi)                    float64
Description                      object
Street                           object
City                             object
County                           object
State                            object
Zipcode                          object
Country                          object
Timezone                         object
Airport_Code                     object
Weather_Timestamp                object
Temperature(F)                  float64
Wind_Chill(F)                   float64
Humidity(%)                     float64
Pressure(in)                    float64
Visibility(mi)                  float64
Wind_Direction                   object
Wind_Speed(mph)                 float64
Precipitation(in)               float64
Weather_Condition                object
Amenity                            bool
Bump                               bool
Crossing                           bool
Give_Way                           bool
Junction                           bool
No_Exit                            bool
Railway                            bool
Roundabout                         bool
Station                            bool
Stop                               bool
Traffic_Calming                    bool
Traffic_Signal                     bool
Turning_Loop                       bool
Sunrise_Sunset                   object
Civil_Twilight                   object
Nautical_Twilight                object
Astronomical_Twilight            object
dtype: object

In [36]:
print(df_merged.head())

          ID   Source  Severity          Start_Time Start_Day Start_Month  \
0  A-7182628  Source1         1 2020-04-17 09:29:30    Friday       April
1  A-5404588  Source1         2                 NaT       NaN         NaN
2   A-156000  Source3         3 2016-08-12 16:45:00    Friday      August
3  A-1871277  Source2         3 2019-09-20 15:22:16    Friday   September
4  A-2031222  Source2         2 2019-06-03 16:55:43    Monday        June

   Start_Year  Start_Hour            End_Time End_Day  ... Roundabout  \
0        2020           9 2020-04-17 10:29:30  Friday  ...      False
1        <NA>        <NA>                 NaT     NaN  ...      False
2        2016          16 2016-08-12 17:15:00  Friday  ...      False
3        2019          15 2019-09-20 15:56:00  Friday  ...      False
4        2019          16 2019-06-03 18:12:09  Monday  ...      False

   Station   Stop  Traffic_Calming  Traffic_Signal  Turning_Loop  \
0    False  False            False            True         False
1    False   True            False           False         False
2    False  False            False           False         False
3    False  False            False           False         False
4    False  False            False           False         False

   Sunrise_Sunset  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0             Day             Day               Day                   Day
1             Day             Day               Day                   Day
2             Day             Day               Day                   Day
3             Day             Day               Day                   Day
4             Day             Day               Day                   Day

[5 rows x 54 columns]

In [ ]:
# Agregimi 1 - Numri i aksidenteve dhe vrazhdesia e tyre sipas ores (nga 0 deri 23)
df_merged_hourly = (
    df_merged.groupby('Start_Hour', as_index=False)
    .agg(
        Accident_Count=('ID', 'count'),
        Avg_Severity=('Severity', 'mean')
    )
    .sort_values(by='Start_Hour', ascending=True)
)

In [41]:
print(df_merged_hourly.to_string(index=False))

 Start_Hour  Accident_Count  Avg_Severity
          0            1293      2.249033
          1            1173      2.198636
          2            1087      2.241950
          3             962      2.269231
          4            1995      2.262155
          5            2725      2.238532
          6            4838      2.223646
          7            7115      2.203092
          8            6844      2.199006
          9            4197      2.243746
         10            4151      2.221152
         11            4127      2.226557
         12            4012      2.242522
         13            4582      2.229376
         14            5001      2.223755
         15            5994      2.229897
         16            6772      2.229622
         17            6833      2.227865
         18            5087      2.258895
         19            3421      2.243204
         20            2513      2.256665
         21            2205      2.258957
         22            1953      2.274450
         23            1471      2.220258

In [ ]:
# Agregimi 2 - Vrazhdesia dhe numri i aksidenteve varesisht motit
df_merged_weather_severity = (
    df_merged.groupby('Weather_Condition', as_index=False)
    .agg(
        Avg_Severity=('Severity', 'mean'),
        Accident_Count=('ID', 'count')
    )
    .sort_values(by='Accident_Count', ascending=False)
)

In [50]:
print(df_merged_weather_severity.to_string(index=False))

           Weather_Condition  Avg_Severity  Accident_Count
                        Fair      2.128204           32971
               Mostly Cloudy      2.225856           13088
                       Clear      2.360554           10617
                      Cloudy      2.161588           10502
               Partly Cloudy      2.230300            9188
                    Overcast      2.393749            4927
                  Light Rain      2.240873            4492
            Scattered Clouds      2.372768            2688
                  Light Snow      2.261677            1670
                         Fog      2.156250            1312
                        Rain      2.241321            1181
                        Haze      2.201220             984
                Fair / Windy      2.155556             450
                  Heavy Rain      2.281690             426
               Light Drizzle      2.246057             317
              Cloudy / Windy      2.158120             234
     Thunder in the Vicinity      2.190698             215
                        Snow      2.257732             194
       Mostly Cloudy / Windy      2.187500             192
                     Thunder      2.175532             188
     Light Rain with Thunder      2.206522             184
                     T-Storm      2.251366             183
                  Wintry Mix      2.164634             164
                       Smoke      2.198758             161
       Partly Cloudy / Windy      2.160000             125
               Heavy T-Storm      2.221154             104
          Light Rain / Windy      2.229167              96
          Light Snow / Windy      2.182927              82
Light Thunderstorms and Rain      2.424658              73
                  Heavy Snow      2.217391              69
                     Drizzle      2.265625              64
              Patches of Fog      2.196721              61
                Thunderstorm      2.396552              58
                 Shallow Fog      2.160000              50
                        Mist      2.272727              44
         Light Freezing Rain      2.285714              42
                Rain / Windy      2.138889              36
      Thunderstorms and Rain      2.333333              36
           N/A Precipitation      2.028571              35
Heavy Thunderstorms and Rain      2.518519              27
     Showers in the Vicinity      2.208333              24
                Snow / Windy      2.043478              23
                Haze / Windy      2.000000              22
          Heavy Snow / Windy      2.105263              19
          Heavy Rain / Windy      2.111111              18
       Heavy T-Storm / Windy      2.133333              15
          Light Freezing Fog      2.571429              14
      Light Freezing Drizzle      2.307692              13
        Blowing Snow / Windy      2.000000              13
             T-Storm / Windy      2.250000              12
                 Fog / Windy      2.181818              11
             Thunder / Windy      2.125000               8
              Snow and Sleet      2.666667               6
        Blowing Dust / Windy      2.200000               5
                Blowing Snow      2.200000               5
             Drizzle and Fog      2.000000               5
                       Sleet      2.000000               5
        Light Snow and Sleet      2.250000               4
          Wintry Mix / Windy      2.000000               4
 Light Freezing Rain / Windy      2.000000               4
           Light Ice Pellets      3.000000               3
                 Light Sleet      2.333333               3
       Light Drizzle / Windy      2.000000               2
             Widespread Dust      3.000000               2
           Light Rain Shower      2.500000               2
               Freezing Rain      2.000000               2
             Drizzle / Windy      2.000000               1
                Blowing Dust      2.000000               1
               Heavy Drizzle      2.000000               1
                 Ice Pellets      2.000000               1
                Rain Showers      3.000000               1
         Shallow Fog / Windy      2.000000               1
                  Small Hail      3.000000               1
               Smoke / Windy      2.000000               1
      Snow and Sleet / Windy      2.000000               1
                     Tornado      1.000000               1